.todoForm {
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.todoInput {
	height: 3rem;
	padding-left: 1rem;
	background-color: var(--white-color);
	color: var(--primary-color);
	font-weight: 500;
	border-radius: 8px;
	border: none;
}

.submitButton {
	height: 3rem;
	border-radius: 8px;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 700;
	font-family: inherit;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	cursor: pointer;
	border: none;
}
/* button:hover {
	border-color: #646cff;
} */
.submitButton:focus,
.submitButton:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
