.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	list-style: none;
	border: 2px solid white;
	border-radius: 8px;
}

.done {
	text-decoration: line-through;
}
