button.item {
	min-height: 55px;
	gap: 10px;
	background-color: var(--primary-color);
	border: 2px solid var(--white-color);
	border-radius: 8px;
	padding: 8px 16px;
	padding-inline-start: 16px;
	padding-block-start: 8px;
	padding-block-end: 8px;
	padding-inline-end: 4px;
	opacity: 0;
	transition: border 300ms ease;
	transform: translateY(-5px);
	animation: appear 300ms forwards;
}

button.item li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

button.item:hover {
	cursor: pointer;
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

button.item span {
	text-align: left;
}

button span,
button button {
	transition: all 300ms ease;
}

button.done {
	border-color: var(--gray-color);
	transition: all 200ms ease;
}

button.done span {
	color: var(--gray-color);
	text-decoration-line: line-through;
	text-decoration-color: var(--red-color);
	transition: all 200ms ease;
}

button.done button {
	color: var(--gray-color);
	transition: all 200ms ease;
}

.itemName {
	font-size: 18px;
	color: var(--white-color);
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.deleteItem {
	position: relative;
	min-width: fit-content;
	background-color: transparent;
	border: none;
	color: var(--white-color);
	/* background-color: transparent;
	border: none; */
}

.deleteItem:hover {
	cursor: pointer;
}

.deleteItem::after {
	--tap-increment: -10px;
	content: '';
	position: absolute;
	top: var(--tap-increment);
	left: var(--tap-increment);
	right: var(--tap-increment);
	bottom: var(--tap-increment);
}
