.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-block-start: 50px;
	padding-block-end: 10px;
	padding-inline: 10px;
}

h1 {
	font-size: var(--font-size-h1);
	margin-bottom: 1rem;
}
